{
  "extends": "eslint-config-egg",
  // for experimental features support
  "parser": "babel-eslint",
  "parserOptions": {
    // for es6 module
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    // for variables in jsx
    "react/jsx-uses-vars": "error",
    // see https://github.com/eslint/eslint/issues/6274
    "generator-star-spacing": "off",
    "babel/generator-star-spacing": "off"
  }
}
